<!doctype html>
<html ng-app="Eggly">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Eggly</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <div class="App" ng-controller="MainCtrl">
        <div class="Input" ng-init="message='world'">
          <h1 ng-click="setCurrentCategory(null)">{{title}}</h1>
          <h3>{{message}}</h3>
          <input type="text" ng-model="message"/>
        </div>
        <div class="MessageList">
          <ul>
            <li
            ng-repeat="message in messages | filter:{category: currentCategory.category}"
            ng-click="setCurrentCategory(message)"
            ng-class="{active:isCurrentCategory(message)}"
            >
              Title: {{message.title}} for message: {{message.text}} with category: {{message.category}}
            </li>
          </ul>
        </div>
      </div>

        <script src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="js/eggly.js"></script>
    </body>
</html>
